### Java ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
!**/src/main/resources/static/css/**

### Maven ###
mvnw
mvnw.cmd
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.settings/

### Eclipse ###
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

### Node ###
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swo
*~

### Project Specific ###
HELP.md
biometric.iml
/postcss.config.js
/tailwind.config.js
/package.json

### Logs ###
logs/